* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --spacer:4px;
    --gray-med: #7D7D7D;
    --gray-light: #E3E3E3;
    --gray-dark: #1C1C1C;
    --site-orange: #ED6435;
    --txt-small: 12px;
    --txt-med: 16px;
    --txt-l: 18px;
    --txt-xl: 20px;
    --txt-2xl: 24px;
    --txt-3xl: 32px;
    --txt-4xl: 48px;
    --txt-5xl: 56px;
    --txt-6xl:64px;
    --txt-7xl:74px;
}

body {
    font-family: Inter, Helvetica, Arial, sans-serif;
    background-color: #080808;
    color: white;
    padding: 1rem;
}

.load-animation {
    animation: load-in 500ms ease-in;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.jst-btwn {
    justify-content: space-between;
}

a {
    color: white;
    text-decoration: none;
}

.content-width {
    max-width: 90%;
    margin: 6px auto;
}

.homepage {
    height: 95dvh;
    width: 100%;
}

header {
    background-color: var(--gray-dark);
    border-radius: 8px;
    position: fixed;
    top: 10;
    left: 50%;
    transform: translate(-50%);
    justify-content: center;
    align-items: baseline;
    margin: 0 auto;
}

header a {
    color: var(--gray-med)
}

header ul {
    list-style-type: none;
    gap: calc(8 * var(--spacer));
    margin: 0;
    padding: 8px 16px;
}

.active {
    color: var(--gray-light);
}

.intro span {
    font-size: 5rem;
}

.intro a {
    display: inline-block;
}

.intro h1 {
    letter-spacing: -3px;
    line-height: 1.1;
    margin-bottom: 1rem;
}

.txt-small {
    font-size: var(--txt-small);
}

.txt-l {
    font-size: var(--txt-l);
}

.txt-xl {
    font-size: var(--txt-xl);
}

.txt-2xl {
    font-size: var(--txt-2xl);
}

.txt-3xl {
    font-size: var(--txt-3xl);
}

.txt-4xl {
    font-size: var(--txt-4xl);
}

.txt-5xl {
    font-size: var(--txt-5xl);
}

.txt-6xl {
    font-size: var(--txt-6xl);
}

.txt-7xl {
    font-size: var(--txt-7xl);
}

.txt-reg {
    font-weight: 400;
}

.txt-semi {
    font-weight: 600;
}

.txt-light {
    font-weight: 300;
}

/* Colors */

.gray-light {
    color:var(--gray-light)
}

.gray-med {
    color: var(--gray-med);
}

.work-container {
    padding: 140px 0;
    text-align: center;
    gap: calc(20 * var(--spacer));
}

.project-container {
    padding: 140px 0;
    max-width: 765px;
    margin:0 auto;
    gap: calc(10 * var(--spacer));
}

.project-categories {
    flex-wrap: wrap;
    gap: calc(2 * var(--spacer));
    margin-bottom: calc(4 * var(--spacer));
    justify-content: center;
}

.project-name {
    text-align: center;
}

.project-desc {
    line-height:1.5;
    margin-bottom: calc(10 * var(--spacer));
}

.project-gallery {
    gap:calc(10 * var(--spacer));
}

.project-gallery img{
    max-width:100%;
    border-radius: 4px;
}

.work-entry {
    gap: calc(3 * var(--spacer));
    margin: 0 auto;
}

.work-categories {
    justify-content: center;
    flex-wrap: wrap;
    gap: calc(2 * var(--spacer));
}

.work-entry h2 {
    width: fit-content;
    margin: auto;
}

.label {
    color: rgb(158, 158, 158);
    border: 1px solid rgb(60, 60, 60);
    padding: 6px 8px;
    border-radius: 8px;
}

.about-page {
    padding-top:200px;
    padding-bottom:80px;
    max-width: 765px;
    margin: 0 auto;
    gap: calc(20 * var(--spacer));
}

.about-section h3 {
    margin-bottom: calc(4 * var(--spacer));
}

.about-section hr {
    border: 0.1px solid var(--gray-med);
}

.about-section p {
    color: var(--gray-light);
    line-height: 1.5;
}

.about-section-block {
    margin:calc(8 * var(--spacer)) 0;
}

.about-section ul li {
    list-style-position: inside;
    line-height: 1.5;
    color: var(--gray-light);
}

.exp-box {
    gap:calc(8 * var(--spacer));
}

.exp-row {
    justify-content: space-between;
}

.about-section hr {
    margin-bottom:calc(8 * var(--spacer));
}

.services-box div{
    width:400px;
}

@media screen and (min-width:700px) {
    a::after {
        content: "";
        display: block;
        margin: auto;
        height: 2px;
        width: 0;
        bottom: 10px;
        background: transparent;
        transition: all 350ms ease;
    }

    a:hover::after {
        content: "";
        display: block;
        margin: auto;
        height: 2px;
        width: 100%;
        bottom: 10px;
        background: #ED6435;
    }
}

@media screen and (max-width:700px) {
    .intro h1 {
        font-size: var(--txt-5xl);
    }
}

@media screen and (max-width:500px) {
    .content-width {
        width: 95%;
    }

    :root {
        --txt-l: 16px;
        --txt-xl: 18px;
        --txt-2xl: 18px;
        --txt-3xl: 24px;
        --txt-4xl: 32px;
        --txt-5xl: 34px;
    }

    body {
        padding: 1rem 0;
    }

    .intro h1 {
        letter-spacing: -0.8px;
    }

    .work-container, .about-page, .project-container {
        padding-top:100px;
        padding-bottom:24px;
    }

    .about-page {
        gap:calc(8 * var(--spacer));
    }

    .exp-row {
        flex-direction: column;
    }

    .exp-box {
        gap: calc(8 * var(--spacer));
    }

    .exp-row:first-child {
        margin-top: calc(6 * var(--spacer));
    }

    .about-section h3, .about-section hr {
        margin-bottom: calc(2 * var(--spacer));
    }

    .about-section-block {
        margin: calc(6 * var(--spacer)) 0;
    }

    .project-gallery {
        gap: calc(5 * var(--spacer));
    }

    .label {
        font-size:8px;
    }

    .services-box {
        margin-top: calc(6 * var(--spacer));
    }
}

@keyframes load-in {
    from {
        opacity: 0;
        transform: translateY(5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}